extends layout

block content
    body.chat-page(oncontextmenu='return false;')
        .head.peekawoo-logo2
            .signout-container
                .creditText
                    p.textSpan Credit
                p#credit.creditvalue 0
                button.signout(onclick="window.location='/ranking'")
        .container
            center
                .chat-container
                    .photo-con
                        .current-photo
                        .chat-block
                            input#blockuser.btn.blockbtn(type='button' value='Block User')
                        .chat-timer-div
                            .alarm
                            .chat-timer
                                #left-time
                                    .dash(class="minutes_dash")
                                    #countdown.digit
                                    .colon_game :
                                    #countdown1.digit
                        .next-photo
                        .previous-photo
                .chat-view
                    
                    center
                        .chatwindow
                            .messagewindow
                .chat-text
                    input#message(type='text', name='message')
                    button#reply(type='button',name='reply')
                    input(type='hidden',id='room', value=room.name)
                    input(type='hidden',id='chatm8', value=JSON.stringify(room))
                    input(type="hidden",id="user",value=JSON.stringify(user))
                    input(type="hidden",id="list",value=listgen)
                    input(type="hidden",id="creval",value=creditquery)
                    #r1.rate_widget
                        #rate.ratings_chick.modalInput(rel='#prompt')
                //the gift container prompt
                .modal_chat#prompt
                    .gifts_container
                        p.gift_text Please send some gifts to your chatmate!
                        button#gift_button_rose.rose(type='button', title='ROSE', value='rose')  
                            p.gift_desc FREE
                        button#gift_button_cup.cupcake(type='button', title='CUP CAKE', value='cupcake')
                            p.gift_desc 1 credits
                        button#gift_button_cookie.cookie(type='button', title='COOKIE', value='cookies')
                            p.gift_desc 1 credits     
                        button#gift_button_milk.milktea(type='button', title='MILK TEA', value='milktea')
                            p.gift_desc 1 credits
                        button#gift_button_date.askdate(type='button', title='ASK FOR DATE', value='date')
                            p.gift_desc 1 credits
    script(src="/socket.io/socket.io.js")
    script(src='http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js')
    script(defer, src="/bootstrap/js/chat.js")
    script
        var creValue = $('#creval').val();
        //modal script
        $(document).ready(function() {
            var triggers = $('.modalInput').overlay({
                 mask: {
                     color: '#ebecff',
                     loadSpeed: 0,
                     opacity: 0
                 },
                 closeOnClick: true
            });
            document.getElementById('credit').innerHTML = creValue;
        });
        
        //Original Content
        $('.current-photo').hover(function(){
            $('.show-book').show();
            },function(){
                $('.show-book').hide();
        });
        $(document).unbind('keydown').bind('keydown', function (event) {
            if (event.keyCode === 116 || event.keyCode === 115) {
                event.preventDefault();
            }
        });
        $('.ratings_chick').click(
            function(){
                if($(this).is('.ratings_chick')){
                    $(this).prevAll().andSelf().removeClass('ratings_chick');
                    $(this).prevAll().andSelf().addClass('ratings_chick-sel');
                }
                else{
                    //$(this).prevAll().andSelf().removeClass('ratings_chick-sel');
                    //$(this).prevAll().andSelf().addClass('ratings_chick');
                }
            }
        );
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-43851834-1']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        var fb_param = {}
        fb_param.pixel_id = '6013595268452'
        fb_param.currency = 'USD'
        (function(){
            var fpw = document.createElement('script');
            fpw.async = true;
            fpw.src = '//connect.facebook.net/en_US/fp.js';
            var ref = document.getElementsByTagName('script')[0];
            ref.parentNode.insertBefore(fpw, ref);
        });
        window.location.hash="no-back-button";
        window.location.hash="Again-no-back-button";//for google chrome
        window.onhashchange=function(){window.location.hash="no-back-button";}
    noscript
        img(height='1', width='1', alt='', style='display: none;', src='https://www.facebook.com/offsite_event.php?id=6013595268452&value=0&currency=USD')
    script(type='text/javascript', src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-521d50585755d9f9')
    script(type='text/javascript')
        addthis.layers({
            'theme' : 'transparent',
            'share' : {
                 'position' : 'left',
                 'numPreferredServices' : 4
            }
        });
        var addthis_share =  {
            title: "Chat with me now. I'm in Peekawoo.",
            url: "http://peekawoo.com"
        }