!!! 5
//if lt IE 7
html.no-js.ie6.oldie(lang="en")
//if IE 7
html.no-js.ie7.oldie(lang="en")
//if IE 8
html.no-js.ie8.oldie(lang="en")
//if gt IE 8
html.no-js(lang="en")

    head
        title= Peekawoo
        meta(name="viewport", content="target-densitydpi=device-dpi, width=device-width, height=device-height, initial-scale=1.0, user-scalable=no")
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
        meta(name="description", content="")
        meta(name="author", content="")
        meta(name='google-site-verification', content='o3I3BRz_sPzJy5_u6xZWQQt1AnzG_XWKykJy01QDNNI')
        base(target='_parent')
        include script
        include styles
    body
        block content
    script(type='text/javascript')
        var _polldaddy = [] || _polldaddy;
        _polldaddy.push( {
            title: 'Give Us Feedback!',
            type: 'banner',
            style: 'corner',
            align: 'top-left',
            text_color: 'FFFFFF',
            back_color: 'FF7E4F',
            domain: 'peekawooapp.polldaddy.com/s/',
            id: 'peekawoo-chat-feedback-survey',
            placeholder: 'pd1380184526508'
        } );
        (function(d,c,j){if(!document.getElementById(j)){var pd=d.createElement(c),s;pd.id=j;pd.src='http://i0.poll.fm/survey.js';s=document.getElementsByTagName(c)[0];s.parentNode.insertBefore(pd,s);}}(document,'script','pd-embed'));
    noscript
        a(href='http://peekawooapp.polldaddy.com/s/peekawoo-chat-feedback-survey') Give Us Feedback!